*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* noto-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/NotoSans-Thin.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/NotoSans-ExtraLight.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/NotoSans-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NotoSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/NotoSans-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/NotoSans-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/NotoSans-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/NotoSans-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/NotoSans-Black.ttf") format("truetype"); /* Safari, Android, iOS */
}

:root {
  --white: rgb(241, 246, 249);
  --navy: rgb(57, 72, 103);
  --dark-blue: rgb(33, 42, 62);
  --grey: rgb(149, 159, 177);

  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(75px, 75px) 8fr;
}

.header {
  background-color: var(--dark-blue);
  grid-area: 1 / 1 / 2 / 3;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--navy);
  color: var(--white);
  grid-area: 2 / 1 / -1 / 2;
  padding: 16px;
  gap: 32px;
}

.navbar div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}

.proj-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}

.proj {
  font-size: 24px;
  font-weight: 700;
}

.proj-delete {
  font-size: 25px;
  font-weight: 300;
  height: 25px;
  width: 25px;
  border-radius: 9999px;
  text-align: center;
  line-height: 25px; /* set line-height equal to the height of the element */
  transition: background-color 0.2s ease-in-out;
}

.proj-delete:hover {
  cursor: pointer;
  background-color: rgb(112, 43, 43);
}

.proj-container:has(.proj.selected) {
  background-color: var(--dark-blue);
}

.proj-container:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
  transform: scale(1.03);
}

#project-add,
#todo-add {
  background-color: var(--grey);
  border: none;
  border-radius: 9999px;
  font-size: 32px;
  font-weight: 800;
  color: var(--white);
  height: 40px;
  width: 40px;
  transition: background-color 0.2s ease-in-out;
}

#project-add:hover,
#todo-add:hover {
  cursor: pointer;
  background-color: green;
}

.project-todos {
  background-color: var(--white);
  color: var(--navy);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-wrap: wrap;
}

.todo-title-container {
  display: flex;
  justify-content: flex-start;
  gap: 64px;
  width: 500px;
}

.todo-container {
  width: 500px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 7fr 3fr 1fr;
  grid-template-rows: 3fr 10fr 3fr;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  padding: 8px;
}

.todo-container:hover {
  background-color: var(--grey);
}

.todo-status {
  grid-area: 2 / 1 / 3 / 2;
}

.todo-name {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 24px;
  font-weight: 700;
}

.todo-desc {
  grid-area: 2 / 2 / 3 / 5;
  font-size: 16px;
  font-weight: 300;
}

.todo-date {
  grid-area: 3 / 2 / 4 / 2;
  font-size: 16px;
  font-weight: 500;
}

.todo-priority {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: center;
}

.todo-remove {
  grid-area: 1 / 4 / 2 / 5;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
  justify-self: end;
  align-self: start;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
}

.todo-remove:hover {
  background-color: rgb(112, 43, 43);
  color: var(--white);
  cursor: pointer;
}

.low,
.medium,
.high {
  height: 30px;
  line-height: 27px;
  border-radius: 5px;
  padding: 3px;
  font-weight: 600;
  color: rgb(32, 32, 32);
}

.low {
  background-color: rgb(99, 141, 99);
  color: var(--white);
}

.medium {
  background-color: rgb(241, 241, 157);
}

.high {
  background-color: rgb(194, 109, 109);
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 9999px;
  background-color: var(--white);
  border: 2px solid var(--grey);
  height: 30px;
  width: 30px;
}

input[type="checkbox"]:checked {
  background-color: var(--navy);
  border: 2px solid var(--navy);
}

input[type="checkbox"]:hover {
  background-color: var(--navy);
  border: 2px solid var(--navy);
  cursor: pointer;
}

.form-popup {
  display: none;
  position: fixed;
  background-color: rgba(149, 159, 177, 30%);
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  width: 500px;
  height: 200px;
  background-color: var(--grey);
  border: none;
  color: var(--dark-blue);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container > input[type="text"] {
  border: none;
  outline: none;
  width: 75%;
  font-size: 24px;
  border-radius: 5px;
  padding: 8px;
  flex-grow: 1;
}

.form-container > button,
.form-container-todo > button {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--navy);
  height: 32px;
  width: 100px;
  border-radius: 5px;
  align-self: flex-end;
}

.form-container > button:hover,
.form-container-todo > button:hover {
  cursor: pointer;
}

.todo-form-popup {
  display: none;
  position: fixed;
  background-color: rgba(149, 159, 177, 30%);
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-container-todo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  width: 500px;
  height: 400px;
  background-color: var(--grey);
  border: none;
  color: var(--dark-blue);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.todo-cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.todo-cont > input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
}

.todo-cont > textarea {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  height: 64px;
  flex-grow: 1;
}

.todo-cont > input[type="date"] {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
}

.todo-cont > select {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
}
